<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.x-services.plugins.socialsharing"
        version="4.3.12">

  <name>SocialSharing</name>

  <description>
    This plugin allows you to share text, images (and other files), or a link via the native sharing widget of your device.
    Android is fully supported, as well as iOS 6 and up. WP8 has somewhat limited support.
  </description>

  <author>Eddy Verbruggen</author>

  <license>MIT</license>

  <keywords>Social, Share, Twitter, Facebook, Email, SMS, WhatsApp, Tumblr, Pocket, LinkedIN</keywords>

  <repo>https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git</repo>

  <issue>https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/SocialSharing.js" name="SocialSharing">
    <clobbers target="window.plugins.socialsharing" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <preference name="APP_ID" />

    <config-file target="config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="wechatappid" value="$APP_ID" />
    </config-file>

    <header-file src="src/ios/SocialSharing.h"/>
    <source-file src="src/ios/SocialSharing.m"/>

    <header-file src="src/ios/wechat/WeixinActivity.h"/>
    <source-file src="src/ios/wechat/WeixinActivity.m"/>

    <header-file src="src/ios/wechat/WeixinActivityBase.h"/>
    <source-file src="src/ios/wechat/WeixinActivityBase.m"/>

    <header-file src="src/ios/wechat/WeixinSessionActivity.h"/>
    <source-file src="src/ios/wechat/WeixinSessionActivity.m"/>

    <header-file src="src/ios/wechat/WeixinTimelineActivity.h"/>
    <source-file src="src/ios/wechat/WeixinTimelineActivity.m"/>

    <header-file src="src/ios/wechat/WXApi.h"/>
    <header-file src="src/ios/wechat/WXApiObject.h"/>

    <resource-file src="src/ios/wechat/resource/icon_session-8@2x.png" />
    <resource-file src="src/ios/wechat/resource/icon_timeline-8@2x.png" />
    <source-file src="src/ios/wechat/resource/libWeChatSDK.a" framework="true" />

      <framework src="Social.framework" weak="true" />
    <framework src="MessageUI.framework" weak="true" />

      <!-- Other required frameworks -->
      <framework src="libz.dylib" />
      <framework src="libsqlite3.0.dylib" />
      <framework src="SystemConfiguration.framework" />
      <framework src="Security.framework" />
      <framework src="libstdc++.6.dylib" />


  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/SocialSharing.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/SocialSharing.cs" />
  </platform>

</plugin>
